<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form method="post" th:action="@{/board/write}" th:object="${boardForm}">
            <div th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
            <dl>
                <dt>제목</dt>
                <dd>
                    <input type="text" name="subject" th:field="*{subject}">
                    <div th:each="err : ${#fields.errors('subject')}" th:text="${err}"></div>
                </dd>
            </dl>
            <dl>
                <dt>내용</dt>
                <dd>
                    <input type="text" name="content" th:field="*{content}">
                    <div th:each="err : ${#fields.errors('content')}" th:text="${err}"></div>
                </dd>
            </dl>
            <button type="submit">작성하기</button>
        </form>
    </body>
</html>